/*-- scss:defaults --*/

// See: <https://quarto.org/docs/output-formats/html-themes.htm>.
// See: <https://quarto.org/docs/authoring/brand.html>.

$toc-font-size: 1em !default;

/*-- scss:rules --*/

/* Body ----- */

body {
  color: $brand-gray;
}

/* Navigation ----- */

.nav-link {
  color: $brand-white;
}

/* Headings ----- */

h3 {
  color: $primary;
}

h4 {
  color: $secondary;
}

/* Captions ----- */

.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
  color: $tertiary;
  font-size: 0.9rem;
  text-align: center;
}

.legend {
  font-size: .9rem;
  color: $tertiary;
  // text-align: left;
}

.quarto-float-caption-top {
  margin-bottom: 2em;
}
